
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #1f1d1d;
}
header{
    .tittle{
        font-size: 200px;
        color: #1E5945;
    }
}

navbar{
    font-family: 'Bebas Neue', sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Bebas Neue', sans-serif;
    }

.navbar{
    display: flex;
    margin-right: 10px;
     
}
.navbar a:hover{
    background: #47B543;
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.logo{
    margin-left: 30px;
}
.logo a{
    text-decoration: none;
    color: #616EFA;
    text-transform: uppercase;
    font-size: 20px;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .t{
        font-family:'Roboto Condensed', sans-serif;
        font-size: 200px;
    }
}

.header{
    height: 60vh !important;
    background: url(fondito.jpeg) no-repeat center ;
    background-size: cover;
    .content header{
        font-size: 70px;
    }
}

.tittle {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff; 
    font-family: 'Roboto Condensed', sans-serif;
}

.textbox{
    color: #1E5945;
    font-size: 30px;
    font-weight: 1000;
}
.fotito{
  
    display: flex;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    .isa{
        margin-left: 100px;
    }
    .tanga{
        margin-left: 100px;
    }
    .salo{
        margin-left: 100px;
    }
}

.txt{
    display: flex;
    color: #fff;
    font-size: 20px;
    .uno{ 
        margin-left: 225px;
    }
    .dos{
        margin-left: 190px;
    }
    .tres{  margin-left: 180px;}
    .cuatro{    margin-left: 210px;}
}

.agudelo{
    height: 60vh !important;
    background: url(blanco.jpg) no-repeat center ;
    background-size: cover;
}